<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.mapper.CategoryMapper">

    <insert id="register" parameterType="com.fastcampus.boardserver.dto.CategoryDTO">
        INSERT
          INTO CATEGORY (no, name)
        VALUES (#{no}, #{name})
    </insert>

    <update id="update" parameterType="com.fastcampus.boardserver.dto.CategoryDTO">
        UPDATE CATEGORY
           SET name = #{name}
         WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE
          FROM CATEGORY
         WHERE no = #{no}
    </delete>


</mapper>