<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.mapper.PostMapper">

    <insert id="register" parameterType="com.fastcampus.boardserver.dto.PostDTO">
        INSERT
          INTO POST (title, contents, user_no, category_no, is_admin, create_time)
        VALUES (#{title}, #{contents}, #{userNo}, #{categoryNo}, #{isAdmin}, #{createTime})
        <selectKey keyProperty="no" resultType="Integer" order="AFTER">
        SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectMyPosts" resultType="com.fastcampus.boardserver.dto.PostDTO">
        SELECT no
             , title
             , contents
             , views
             , category_no
             , user_no
             , create_time
             , update_time
          FROM POST
         WHERE user_no = #{userNo}
           AND delete_time IS NULL
    </select>

    <update id="update" parameterType="com.fastcampus.boardserver.dto.PostDTO">
        UPDATE POST
           SET title = #{title}
             , contents = #{contents}
             , category_no = #{categoryNo}
             , update_time = #{updateTime}
         WHERE no = #{no}
           AND user_no = #{userNo}
           AND delete_time IS NULL
    </update>

    <update id="delete">
        UPDATE POST
           SET delete_time = #{deleteTime}
         WHERE no = #{no}
           AND delete_time IS NULL
    </update>


</mapper>